absl-py
asgiref
astunparse
cachetools
certifi
chardet
charset-normalizer
click
colorama
comtypes
contourpy
cycler
dill
Django
django-crispy-forms
et-xmlfile
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gTTS
h5py
idna
importlib-metadata
importlib-resources
joblib
keras
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
nltk
numpy
oauthlib
openai
openpyxl
opt-einsum
packaging
pandas
pandas-stubs
patsy
Pillow
protobuf
psycopg2
pyasn1
pyasn1-modules
PyAudio
pyfunctional
pygame
pyparsing
pypiwin32
python-dateutil
pyttsx3
pytz
pywin32
regex
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
six
sklearn
sklearn-utils
SpeechRecognition
sqlparse
statsmodels
tabulate
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
Theano
threadpoolctl
tqdm
types-pytz
typing_extensions
tzdata
urllib3
vboxapi
Werkzeug
wrapt
zipp
